@import "./Varibles/Varibles.scss";

.bg-black{
    background-color: $blackcolor;
}
.halfwith{
    height: 100vh;
}
.colorwhite{
    color: $white;
}
.letterspacing{
    letter-spacing: 8px;
}
.letterspacing01{
    letter-spacing: 4px;

}
